<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
	<div th:replace="common/common :: copy"></div>
<title>用户管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
	<div class="mt-20">
	<table id="table" class="table table-border table-bordered table-hover table-bg table-sort" style="width: 100%;">
		<thead>
		<tr>
			<th scope="col" colspan="9">用户列表</th>
		</tr>
		<tr class="text-c">
			<th width="25"><input id="checkbox" type="checkbox" name="" value=""></th>
			<th width="40">ID</th>
			<th width="150">登录名</th>
			<th width="150">密码</th>
			<th width="150">用户类型</th>
			<th width="100">是否已启用</th>
			<th th:if="${session.USER.type==0}" width="100">对应学生ID</th>
			<th th:if="${session.USER.type==0}" width="100">对应学生姓名</th>
			<th th:if="${session.USER.type==1}" width="100">对应教师ID</th>
			<th th:if="${session.USER.type==1}" width="100">对应教师姓名</th>
			<th width="100">操作</th>
		</tr>
		</thead>
		<tbody>
		<tr class="text-c" th:each="u : ${userList}">
			<td><input type="checkbox" value="1" th:name="${u.id}"></td>
			<td th:text="${u.id}">1</td>
			<td th:text="${u.username}">admin</td>
			<td th:text="${u.password}">fhuj</td>
			<td class="td-type" th:if="${u.type==0}">
				<span class="label label-success radius">学生</span>
			</td>
			<td class="td-type" th:if="${u.type==1}">
				<span class="label label-primary radius">老师</span>
			</td>
			<td class="td-type" th:if="${u.type==2}">
				<span class="label label-danger radius">管理员</span>
			</td>
			<td class="td-status"  th:if="${u.disabled==0}">
				<span class="label label-success radius">已启用</span>
			</td>
			<td class="td-status"  th:if="${u.disabled==1}">
				<span class="label radius">已禁用</span>
			</td>
			<td th:if="${session.USER.type==0}" th:text="${u.contrastStudentID}">fhuj</td>
			<td th:if="${session.USER.type==0}" th:text="${u.contrastStudentName}">fhuj</td>
			<td th:if="${session.USER.type==1}" th:text="${u.contrastTeacherID}">fhuj</td>
			<td th:if="${session.USER.type==1}" th:text="${u.contrastTeacherName}">fhuj</td>
			<td class="td-manage">
				<a style="text-decoration:none" class="ml-5" th:onclick="change_password('修改密码',[[@{/}]]+'user/userUpdatePassword/'+[[${u.id}]],[[${u.id}]],'600','300')" href="javascript:;" title="修改密码">
					<i class="Hui-iconfont"></i>
				</a>
			</td>
		</tr>
		</tbody>
	</table>
	</div>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/lib/datatables/1.10.15/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"></script>
<script th:inline="javascript">
	$('.table-sort').dataTable();
	var ctxPath = [[@{/}]];
		/*密码-修改*/
		function change_password(title,url,id,w,h){
			layer_show(title,url,w,h);
		}
</script>
</body>
</html>