<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
	<div th:replace="common/common :: copy"></div>
<title>用户管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="deleteBatchIds()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>&nbsp;
			<a href="javascript:;" th:onclick="admin_add('添加管理员',[[@{/}]]+'user/userAdd','','450')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a></span> &nbsp;
			<a href="javascript:;" th:onclick="admin_add('添加学生',[[@{/}]]+'user/userAddStudent','','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加学生</a></span>&nbsp;
			<a href="javascript:;" th:onclick="admin_add('添加老师',[[@{/}]]+'user/userAddTeacher','','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加老师</a></span>
	<div class="mt-20">
	<table id="table" class="table table-border table-bordered table-hover table-bg table-sort" style="width: 100%;">
		<thead>
		<tr>
			<th scope="col" colspan="11">用户列表</th>
		</tr>
		<tr class="text-c">
			<th width="25"><input id="checkbox" type="checkbox" name="" value=""></th>
			<th width="40">ID</th>
			<th width="150">登录名</th>
			<th width="150">密码</th>
			<th width="150">用户类型</th>
			<th width="100">是否已启用</th>
			<th width="100">对应学生ID</th>
			<th width="100">对应学生姓名</th>
			<th width="100">对应教师ID</th>
			<th width="100">对应教师姓名</th>
			<th width="100">操作</th>
		</tr>
		</thead>
		<tbody>
		<tr class="text-c" th:each="u : ${userList}">
			<td><input type="checkbox" value="1" th:name="${u.id}"></td>
			<td th:text="${u.id}">1</td>
			<td th:text="${u.username}">admin</td>
			<td th:text="${u.password}">fhuj</td>
			<td class="td-type" th:if="${u.type==0}">
				<span class="label label-success radius">学生</span>
			</td>
			<td class="td-type" th:if="${u.type==1}">
				<span class="label label-primary radius">老师</span>
			</td>
			<td class="td-type" th:if="${u.type==2}">
				<span class="label label-danger radius">管理员</span>
			</td>
			<td class="td-status"  th:if="${u.disabled==0}">
				<span class="label label-success radius">已启用</span>
			</td>
			<td class="td-status"  th:if="${u.disabled==1}">
				<span class="label radius">已禁用</span>
			</td>
			<td th:text="${u.contrastStudentID}">fhuj</td>
			<td th:text="${u.contrastStudentName}">fhuj</td>
			<td th:text="${u.contrastTeacherID}">fhuj</td>
			<td th:text="${u.contrastTeacherName}">fhuj</td>
			<td class="td-manage">
				<a th:if="${u.disabled==0}" style="text-decoration:none" th:onClick="admin_stop(this,[[${u.id}]])" href="javascript:;" title="停用">
					<i class="Hui-iconfont">&#xe631;</i>
				</a>
				<a th:if="${u.disabled==1}" style="text-decoration:none" th:onClick="admin_start(this,[[${u.id}]])" href="javascript:;" title="启用">
					<i class="Hui-iconfont">&#xe615;</i>
				</a>
				<a style="text-decoration:none" class="ml-5" th:onclick="change_password('修改密码',[[@{/}]]+'user/userUpdatePassword/'+[[${u.id}]],[[${u.id}]],'600','300')" href="javascript:;" title="修改密码">
					<i class="Hui-iconfont"></i>
				</a>
				<a th:if="${u.type==0}" title="学生编辑" href="javascript:;" th:onclick="admin_edit('学生编辑',[[@{/}]]+'user/userUpdateStudent/'+[[${u.id}]],[[${u.id}]],'800','500')" class="ml-5" style="text-decoration:none">
					<i class="Hui-iconfont">&#xe6df;</i>
				</a>
				<a th:if="${u.type==1}" title="老师编辑" href="javascript:;" th:onclick="admin_edit('老师编辑',[[@{/}]]+'user/userUpdateTeacher/'+[[${u.id}]],[[${u.id}]],'800','500')" class="ml-5" style="text-decoration:none">
					<i class="Hui-iconfont">&#xe6df;</i>
				</a>
				<a th:if="${u.type==2}" title="管理员编辑" href="javascript:;" th:onclick="admin_edit('管理员编辑',[[@{/}]]+'user/userUpdate/'+[[${u.id}]],[[${u.id}]],'800','500')" class="ml-5" style="text-decoration:none">
					<i class="Hui-iconfont">&#xe6df;</i>
				</a>
				<a title="删除" href="javascript:;" th:onclick="admin_del(this,[[${u.id}]])" class="ml-5" style="text-decoration:none">
					<i class="Hui-iconfont">&#xe6e2;</i>
				</a>
			</td>
		</tr>
		</tbody>
	</table>
	</div>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/lib/datatables/1.10.15/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"></script>
<script th:inline="javascript">
	$('.table-sort').dataTable();
	var ctxPath = [[@{/}]];
		/*
            参数解释：
            title	标题
            url		请求的url
            id		需要操作的数据id
            w		弹出层宽度（缺省调默认值）
            h		弹出层高度（缺省调默认值）
        */
		/*用户-增加*/
		function admin_add(title,url,w,h){
			layer_show(title,url,w,h);
		}
		/*用户-删除*/
		function admin_del(obj,id){
			layer.confirm('确认要删除吗？',function(index){
				$.ajax({
					type: 'POST',
					url: ctxPath+'user/deleteUserById/',
					dataType: 'json',
					data:{'id':id},
					success: function(data){
						console.log(data)
						if (data.code==100){
							$(obj).parents("tr").remove();
							layer.msg('已删除!',{icon:1,time:1000});
							setTimeout(function() {
								window.location.reload();
							},2000)
						}
						if (data.code==500){
							layer.msg('删除失败!',{icon:2,time:1000});
						}
					},
					error:function(data) {
						console.log(data.msg);
						return
					},
				});
			});
		}

		/*用户-编辑*/
		function admin_edit(title,url,id,w,h){
			layer_show(title,url,w,h);
		}
		/*用户-停用*/
		function admin_stop(obj,id){
			layer.confirm('确认要停用吗？',function(index){
				//此处请求后台程序，下方是成功后的前台处理……
				$.ajax({
					type: 'POST',
					url: ctxPath+'user/stopUserById/',
					dataType: 'json',
					data:{'id':id},
					success: function(data){
						console.log(data)
						if (data.code==100){
							$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,id)" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
							$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
							$(obj).remove();
							layer.msg('已停用!',{icon: 5,time:1000});
							setInterval(function() {
								window.location.reload();
							},2000)
						}
						if (data.code==500){
							layer.msg('停用失败!',{icon:2,time:1000});
						}
					},
					error:function(data) {
						console.log(data.msg);
						return
					},
				});
			});
		}

		/*用户-启用*/
		function admin_start(obj,id){
			layer.confirm('确认要启用吗？',function(index){
				//此处请求后台程序，下方是成功后的前台处理……
				$.ajax({
					type: 'POST',
					url: ctxPath+'user/startUserById/',
					dataType: 'json',
					data:{'id':id},
					success: function(data){
						console.log(data)
						if (data.code==100){
							$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,id)" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
							$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
							$(obj).remove();
							layer.msg('已启用!', {icon: 6,time:1000});
							setInterval(function() {
								window.location.reload();
							},2000)
						}
						if (data.code==500){
							layer.msg('启用失败!',{icon:2,time:1000});
						}
					},
					error:function(data) {
						console.log(data.msg);
						return
					},
				});
			});
		}
		/*密码-修改*/
		function change_password(title,url,id,w,h){
			layer_show(title,url,w,h);
		}

		function deleteBatchIds () {
			var ptag_ids = new Array(); //定义一个数组存储id
			layer.confirm('确认要批量删除吗？',function(index){
				$("#table input[type='checkbox']:checked").each(function() {
					// let id = $(this).parent().next().eq(0).text()
					let id = $(this).attr('name');
					if (!isNaN(id)) {
						ptag_ids.push(id); // 把值push进入数组里面
					}
				});
				console.log(ptag_ids)

				//此处请求后台程序，下方是成功后的前台处理……
				$.ajax({
					type: 'POST',
					url: ctxPath+'user/deleteBatchIds',
					dataType: 'json',
					data:{"ids":JSON.stringify(ptag_ids)},
					success: function(data){
						console.log(data)
						if (data.code==100){
							layer.msg('批量删除成功!', {icon: 6,time:1000});
							setTimeout(function() {
								window.location.reload();
							},2000)
						}
						if (data.code==500){
							layer.msg('批量删除失败!',{icon:2,time:1000});
						}
					},
					error:function(data) {
						console.log(data.msg);
						return
					},
				});
			});
        }
</script>
</body>
</html>